.container{
    width: 50%; 
    height: 560px;
    background: radial-gradient(343px at 46.3% 47.5%, rgb(242, 242, 242) 0%, rgb(241, 241, 241) 72.9%);
    border-radius: 30px;
    border: 1px solid rgb(180, 180, 180);
    padding-bottom:15px;
}

.input-group {
    margin-top: 30px;
    width: 80%;
    margin-left: 10%;
}

body{
    font-family: 'Libre Bodoni', serif;
}


p{
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.city, #date, #main{
    padding-left: 15px;
}

#date{
    margin-top: -15px;
    margin-bottom: -0px;
}


.form-control {
    line-height: 2;
}


.weather{
    height: 250px;
    width: 70%;
    display: block;
    margin: 0 auto;
    border-radius: 50px;
    background-color: white;
}

.right{
    text-align: center;
}

.left{
    padding-top: 15px;
    text-align: left;
}

.main{
    font-size: 20px;
    text-transform: uppercase;
    margin-top: -15px;
}

h2{
    display: inline;
}

.weather{
    padding: 20px;
}


.card{
    padding: 10px;
    border-radius: 20px;
    margin: 2px;
    height: 150px;
}

.emoji{
    font-size: 30px;
}

span{
    font-size: 25px;
}

.card:hover{
    background-color: rgb(244, 244, 244);

}

.temperature{
    font-size: 18px;
    position: absolute;
}

#bigTem{
    font-size: 50px;
    padding-top: 15px;
}

.tem{
    padding-left: 10px;
}

.info{
    font-size: 17px;
    font-weight: bold;
}

img{
    margin-left: 0px;
    width: 100px;
    height: 100px;
}

.temp-min, .temp-max{
    font-size: 20px;
}

.forecast-image{
    width: 70px;
    height: 70px;
    display: block;
    margin: 0 auto;
}

.temp-max{
    color: rgb(88, 88, 88);
}

.temp-min{
    color: rgb(137, 137, 137);
}

h4{
    color: rgb(137, 137, 137);
}
